#  Local .terraform directories
**/.terraform/*

# Local terraform frontend
backend.tf
.terraform.lock.hcl

# .tfstate frontend
*.tfstate
*.tfstate.*

# .tfvars frontend
*.tfvars

# plan frontend
plan.out
*.zip

.idea
.iml

.DS_Store
